body {
  margin: 0;
  padding: 0;
}
.mainDiv {
  position: absolute;
  left: 70px;
  top: 35px;
  width: 400px;
  padding: 0;
  margin: 0;
}

.mainImage {
  position: absolute;
  left: 55rem;
  top: 30px;
  left: 550px;
  height: 600px;
  width: 750px;
  border-radius: 20px;
}
.Mh1 {
  font-size: 4rem;
  color: #130f40;
}
.Mh2 {
  font-weight: normal;
  position: relative;
  bottom: 15px;
}
.h3 {
  font-weight: normal;
  position: relative;

  margin-top: 0;
  left: 25px;
}
.ticks {
  position: relative;
}
.icon1 {
  position: relative;
  top: 24px;
}

.EmailDiv {
  position: relative;
  top: 24px;
  font-size: 15px;
  color: #130f40;
  font-weight: bolder;
}

.emailInputBox {
  position: relative;
  top: 10px;
  padding: 10px;
  width: 70%;
  height: 35px;
  border: 5px;
  box-shadow: 0 0 15px 4px rgba(60, 52, 52, 0.06);
  cursor: pointer;
}
.submitButton {
  position: relative;
  color: white;
  top: 30px;
  padding: 10px;
  width: 75%;
  height: 60px;
  font-weight: bolder;
  font-size: 16px;
  background-color: #130f40;
  border-radius: 10px;
  cursor: pointer;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.CMainDiv {
  width: 500px;
  height: 500px;
  text-align: center;
  position: relative;
  top: 250px;
  left: 700px;
}
.Cp {
  font-size: 3rem;
  color: #130f40;
  text-decoration: solid;
  padding: 0;
}

.Ch1 {
  font-size: medium;
  font-weight: normal;
}

.emailSpan {
  font-weight: bolder;
}
